:root {
    --primary-color: #00a7a7ff;
    --text-color: #ffffff;
    --secundary-color: #222042;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    margin: 0;
    background-color: var(--secundary-color);
    opacity: 0.9;
    color: var(--text-color);
    width: 100%;
    height: fit-content;
}

nav {
    margin: 0;
    z-index: 20;
    width: 100%;
    height: fit-content;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 2vh 3vw;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    padding-left: 3.5vw;
}

footer {
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    background-color: var(--secundary-color);
    color: var(--text-color);
    opacity: 0.9;
    width: 100%;
    height: 8vh;
}