:root {
    --logos-to-value: 30vh;
}

html {
    background-image: url("../img/background.svg");
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% -10vh;
    background-size: 100vw;
}

body {
    height: 300vh;
}

nav ul li button {
    color: #222042;
    background-color: var(--text-color);
    padding: 1vh 2vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nav-logo {
    width: 2vw;
    height: auto;
    margin-right: 1vw;
}

a {
    color: var(--text-color);
}

a:hover {
    color: #919191;
}

.content {
    text-align: center;
    height: 300vh;
}

.wrapper {
    align-items: center;
    height: 170vh;
}

.title {
    font-size: 4vw;
    margin-top: 10vh;
    margin-bottom: 35vh;
}

.wrapper > h2 {
    font-size: 2vw;
    margin-bottom: 5vh;
}

.wrapper, .prirate-wrapper {
    font-size: 1.5vw;
    margin-bottom: 5vh;
}

.anchorlauncher-logo {
    position: block;
    z-index: 10;
    width: 15vw;
    height: auto;
    margin-bottom: 2vh;
}

.scroll-animation .anchorlauncher-logo {
    animation: move-anchorlch-logo forwards;
    animation-timeline: scroll();
    animation-range: 35vh 50vh;
}

.no-scroll-animation .anchorlauncher-logo {
    position: relative;
    top: 0;
    left: 0;
}

.steam-logo, .ea-logo, .ithcio-logo { 
    position: fixed;
    z-index: 10;
    width: 10vw;
    height: auto;
    filter: 
        brightness(0) 
        saturate(100%) 
        invert(11%) 
        sepia(9%) 
        saturate(5767%) 
        hue-rotate(210deg) 
        brightness(94%) 
        contrast(93%);
}

.steam-logo {
    top: 6vh;
    left: 8vw;
}

.scroll-animation .steam-logo {
    animation: move-steam forwards;
    animation-timeline: scroll();
    animation-range: 0vh 35vh;
}

.no-scroll-animation .steam-logo {
    position: absolute;
    top: 15vh;
    left: 10vw;
}

.ea-logo {
    top: 12vh;
    left: 76vw;
}

.scroll-animation .ea-logo {
    animation: move-ea forwards;
    animation-timeline: scroll();
    animation-range: 0vh 35vh;
}

.no-scroll-animation .ea-logo {
    position: absolute;
    top: 20vh;
    left: 85vw;
}

.ithcio-logo {
    top: 26vh;
    left: 22vw;
}

.scroll-animation .ithcio-logo {
    animation: move-ithcio forwards;
    animation-timeline: scroll();
    animation-range: 0vh 35vh;
}

.no-scroll-animation .ithcio-logo {
    position: absolute;
    top: 30vh;
    left: 30vw;
}

.anchor-image {
    position: absolute;
    z-index: 15;
    width: 24vw;
    height: auto;
    top: 100vh;
    left: 90vw;
    opacity: 0;
    transform: translateX(-50%);
}

.scroll-animation .anchor-image {
    animation: show-anchor forwards;
    animation-timeline: scroll();
    animation-range: 45vh 50vh;
}

.no-scroll-animation .anchor-image {
    position: absolute;
    top: 100vh;
    left: 90vw;
    opacity: 1;
    transform: translateX(-50%);
}

.sites-ul {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    list-style: circle inside none;
}

.prirate-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5vw;
    margin-top: 20vh;
}

.prirate-wrapper > div {
    max-width: 30vw;
    margin-right: 5vw;
    margin-left: 50vw;
}

.ship-image {
    position: absolute;
    left: -3vw;
    top: 170vh;
    z-index: 5;
    width: 60vw;
    height: auto;
}

/* Animations */

@keyframes move-steam {
    from {
        top: 8vh;
        left: 8vw;
        opacity: 1;
        transform: translateX(0);
    }
    to {
        top: var(--logos-to-value);
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes move-ea {
    from {
        top: 12vh;
        left: 76vw;
        opacity: 1;
        transform: translateX(0);
    }
    to {
        top: var(--logos-to-value);
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
    }    
}

@keyframes move-ithcio {
    from {
        top: 27vh;
        left: 22vw;
        opacity: 1;
        transform: translateX(0);
    }
    to {
        top: var(--logos-to-value);
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
    }    
}

@keyframes move-anchorlch-logo {
    0% {
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        position: relative;
        top: 40vh;
        left: 32vw;
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes show-anchor {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* responsive */

/* QR code*/

  #qrcode {
    padding-top: 5px;
    margin-left: 45vw;
    background-color: inherit;
    transition: all 0.15s ease-out;
  }
  #qrcode::before {
    content: '';
    display: block;
    width: var(--trace-size);
    height: var(--trace-size);
    position: absolute;
    background-color: #f00;
    border-radius: 20%;
    animation: 2s ease-in-out 1s infinite normal both qr-trace;
    transition: inherit;
  }
  #qrcode img {
    background-color: inherit;
    mix-blend-mode: darken;
    image-rendering: pixelated;
    transition: inherit;
  }
